:root {
  --black: black;
  --white: white;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

body {
  color: var(--black);
  font-family: Syne, sans-serif;
  font-size: 14px;
  line-height: 20px;
  overflow: visible;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 700;
  line-height: 36px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

p {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 150%;
}

a {
  color: var(--black);
  text-decoration: none;
}

.italic {
  font-family: Playfair Display, sans-serif;
  font-style: italic;
  font-weight: 400;
}

.italic.resume-heading {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 36px;
}

.body-regular {
  font-size: 18px;
  line-height: 150%;
}

.body-small {
  font-size: 14px;
}

.body-small.padding-right {
  padding-right: 8px;
}

.detail {
  letter-spacing: 1px;
  text-transform: uppercase;
  flex: 0 auto;
  font-family: Space Grotesk, sans-serif;
  font-size: 10px;
}

.detail.copyright {
  position: absolute;
  inset: auto auto 40px 40px;
}

.detail.caption {
  margin-top: 10px;
}

.detail.c {
  text-align: right;
}

.detail.showing {
  margin-top: 10px;
}

.detail.bottom {
  margin-top: 20px;
}

.menu {
  z-index: 100;
  align-items: center;
  width: 25vw;
  height: 100vh;
  padding: 40px;
  display: flex;
  position: fixed;
  inset: 0% auto 0% 0%;
}

.menu.home {
  z-index: 0;
}

.oval-wrapper {
  text-align: center;
  border: 1px dotted #000;
  border-radius: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 16px;
  margin-right: 8px;
  padding-top: 2px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
}

.oval-wrapper:hover {
  border-style: solid;
}

.oval-wrapper.role {
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
}

.oval-wrapper.tag {
  margin-top: 4px;
  margin-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

.oval-wrapper.tag.w--current {
  background-color: #d0ff00;
  border-style: solid;
}

.oval-wrapper.tag.w--current:hover {
  border-style: solid;
}

.oval-wrapper.home {
  position: absolute;
  inset: auto 0% 0% auto;
}

.oval-wrapper.padding-left {
  margin-left: 4px;
  margin-right: 4px;
}

.oval-wrapper.no-hover:hover {
  border-style: dotted;
}

.menu-item {
  border-bottom-style: none;
  align-items: center;
  margin-bottom: 8px;
  display: flex;
}

.home-carousel {
  background-color: #0000;
  width: 75vw;
  height: auto;
  position: absolute;
  inset: 15% 0% 0% auto;
}

.page-content-wrapper {
  float: right;
  width: 75vw;
  height: auto;
  padding-top: 80px;
  position: relative;
  inset: 0% 0% 0% auto;
}

.text-block-wrapper {
  border-left: 1px dotted var(--black);
  flex-direction: row;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
}

.text-block-wrapper.no-indent {
  border-left-style: none;
  margin-top: 20px;
  margin-bottom: 40px;
  padding-left: 0;
}

.text-block-wrapper.no-indent.page-end {
  align-items: center;
  margin-top: 0;
  padding-bottom: 0;
}

.text-block-wrapper.no-indent.paint {
  width: 60%;
  min-width: 500px;
  max-width: 800px;
  margin-right: 380px;
}

.text-block-wrapper.no-indent.archive {
  margin-bottom: 20px;
}

.text-block-wrapper.resume-group {
  margin-top: 0;
}

.tag-wrapper {
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
}

.tag-wrapper.padding-none {
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image.paint {
  margin-bottom: -300px;
}

.image.home {
  object-fit: scale-down;
}

.project-detail-wrapper {
  grid-column-gap: 40px;
  grid-row-gap: 16px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr .5fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.collaborator-item {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 8px;
  display: flex;
}

.image-block-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.image-block-wrapper.archive {
  margin-top: 0;
}

.image-block-wrapper.negative-padding-top {
  z-index: -1;
  position: relative;
  top: -300px;
}

.page-end {
  align-items: center;
  margin-top: 40px;
  padding-bottom: 40px;
  display: flex;
}

.btn {
  border: 1px dotted #000;
  border-radius: 100%;
  align-items: center;
  height: 50px;
  padding: 20px 40px;
  transition: border .2s;
  display: flex;
}

.btn:hover {
  border-style: solid;
}

.menu-link {
  border-bottom-style: none;
  align-items: center;
  display: flex;
}

.arrow {
  margin-left: 4px;
  display: flex;
}

.hyperlink {
  border-bottom: 1px dotted #000;
}

.hyperlink:hover {
  border-bottom-style: solid;
}

.hyperlink.about {
  margin-right: 15px;
}

.hyperlink.about:hover {
  border: 1px #000;
  border-bottom-style: solid;
}

.circle {
  background-color: var(--white);
  border: 1px dotted #000;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  display: flex;
}

.circle.left {
  position: absolute;
  inset: auto 5px 20px auto;
}

.circle.left.home {
  transition: border .2s;
  bottom: 40px;
}

.circle.left.home:hover {
  border-style: solid;
}

.circle.right {
  position: absolute;
  inset: auto auto 20px 5px;
}

.circle.right.home {
  transition: border .2s;
  bottom: 40px;
}

.circle.right.home:hover {
  border-style: solid;
}

.icon {
  display: none;
}

.left-arrow {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100px;
  display: flex;
  inset: auto auto 0% 0%;
}

.right-arrow {
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100px;
  display: flex;
  inset: auto 0% 0% auto;
}

.slide-nav {
  display: none;
}

.image-carousel {
  background-color: #0000;
  height: 100%;
}

.resume-group {
  margin-bottom: 30px;
}

.simple-hero {
  align-items: center;
  margin-top: 40px;
  padding-top: 20px;
  padding-right: 40px;
  display: flex;
}

.simple-hero.archive {
  display: block;
}

.simple-hero.about {
  margin-bottom: 100px;
  display: block;
}

.h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 140%;
}

.h1.italic {
  font-weight: 400;
}

.h1.about {
  margin-top: 20px;
  margin-bottom: -20px;
  font-weight: 600;
}

.h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 700;
  line-height: 130%;
}

.h2.italic {
  font-weight: 400;
}

.h2.about {
  font-weight: 600;
  line-height: 130%;
}

.h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 150%;
}

.h3.padding-bottom {
  margin-bottom: 10px;
}

.h4 {
  font-weight: 700;
  line-height: 150%;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.page-top {
  position: absolute;
  inset: 0% auto auto 0%;
}

.menu-heading-1 {
  align-items: center;
  display: flex;
  position: fixed;
  inset: 40px auto auto 40px;
}

.menu-heading-1.home {
  position: static;
}

.spacer._40 {
  width: 40px;
  height: 40px;
}

.hide {
  display: none;
}

.hr {
  border-top: 1px dotted #000;
  width: 100%;
  height: 0;
  margin-top: 40px;
}

.hr.bottom {
  margin-bottom: 40px;
}

.heading-archive {
  margin-bottom: 20px;
}

.home-link-wrapper {
  display: flex;
}

.bulleted-list {
  padding-left: 8px;
  list-style-type: square;
}

.subscript {
  font-size: 20px;
}

.subscript-2, .subscript-3 {
  font-size: 10px;
}

.text-span {
  font-size: 12px;
}

.text-span-2 {
  font-size: 40px;
}

.text-span-3 {
  font-size: 20px;
}

.text-span-4 {
  font-size: 15px;
}

.text-span-5 {
  font-size: 5px;
}

.text-span-6 {
  font-size: 30px;
}

.work-grid {
  grid-column-gap: 50px;
  grid-row-gap: 40px;
  margin-top: 80px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.work-grid.filter {
  grid-column-gap: 50px;
  grid-row-gap: 40px;
  width: 100%;
  margin-top: 0;
  padding-bottom: 0;
}

.project-img {
  background-image: url('../images/Bonnie-Tran-Portfolio-WINGS-Brand-Web-Design-Mobile-Home.png');
  background-position: 50%;
  min-width: 300px;
  min-height: 300px;
}

.link-block {
  flex-flow: column;
  align-items: stretch;
  transition: opacity .2s;
  display: flex;
  position: relative;
}

.link-block:hover {
  opacity: .8;
}

.link-block.maze {
  flex-flow: column;
  flex: 1;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.menu-header-wrap {
  z-index: 100;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  position: fixed;
  inset: 0% 0% auto;
}

.menu-heading-2 {
  position: relative;
}

.project-grid-h1 {
  flex: 0 auto;
  margin-bottom: 0;
  line-height: 18px;
}

.project-grid-h1.maze {
  flex: 0 auto;
}

.background-video {
  flex: 1;
}

.video-wrapper {
  height: 300px;
  position: relative;
  overflow: hidden;
}

.home-img {
  object-fit: cover;
  min-height: 200px;
}

.home-img.feature {
  margin-right: 40px;
}

.body {
  background-color: #ddd;
}

.footer {
  padding: 0 40px 40px;
  position: static;
  inset: auto 0% 0%;
}

.footer.print {
  position: absolute;
}

.text-block {
  text-align: right;
}

.ghd-vid-1 {
  width: 100%;
  height: 620px;
}

.ghd-vid-2 {
  height: 800px;
}

.background-video-2 {
  height: 400px;
}

.background-video-3 {
  min-height: 700px;
}

.background-video-4 {
  margin-bottom: 20px;
}

.filter-page-header {
  margin-top: 80px;
  padding-left: 40px;
  padding-right: 40px;
  transition: opacity .2s;
}

.horizontal-rule {
  outline-offset: 0px;
  border: 1px #000;
  border-top-style: dotted;
  outline: 3px dotted #555;
}

.showing-heading {
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.div-block-3 {
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 16px;
  display: inline-flex;
}

.featured-project-link {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  transition: opacity .2s;
  display: flex;
}

.featured-project-link:hover {
  opacity: .5;
}

.featured-project-link.hide {
  display: none;
}

.featured-project-link.static {
  width: 100%;
}

.featured-project-link.static:hover {
  opacity: 100;
}

.div-block-4 {
  display: flex;
}

.paragraph {
  font-size: 26px;
}

.text-span-7, .highlight {
  background-color: #d0ff00;
}

.feature-text-wrapper {
  margin-right: 80px;
}

.div-block-5 {
  height: 16px;
}

.static-tag {
  border: 1px dotted #000;
  border-radius: 100%;
  height: 16px;
  margin-bottom: 6px;
  margin-right: 8px;
  padding: 0 10px 19px;
}

.static-tag.role {
  margin-top: 6px;
  margin-left: 6px;
}

.print-body {
  overflow: hidden;
}

@media screen and (min-width: 1920px) {
  body {
    overflow: visible;
  }
}

@media screen and (max-width: 991px) {
  .detail.caption {
    margin-left: 20px;
    margin-right: 20px;
  }

  .menu {
    width: 100%;
    position: relative;
  }

  .home-carousel {
    display: none;
  }

  .page-content-wrapper {
    width: 100%;
  }

  .text-block-wrapper {
    border-left-style: none;
    padding-left: 20px;
    padding-right: 20px;
  }

  .page-end {
    padding-left: 20px;
  }

  .simple-hero {
    padding-left: 20px;
    padding-right: 20px;
  }

  .featured-project-link, .featured-project-link.static {
    flex-flow: wrap;
  }
}

@media screen and (max-width: 479px) {
  .detail.copyright {
    display: none;
    position: static;
    bottom: 20px;
    left: 20px;
  }

  .menu {
    flex-wrap: wrap;
    align-content: space-between;
    padding: 20px;
  }

  .home-carousel, .hyperlink.about, .hyperlink.resume {
    display: none;
  }

  .menu-heading-1 {
    flex-wrap: wrap;
    position: static;
  }

  .div-block {
    display: none;
  }

  .hide {
    display: block;
  }

  .div-block-2 {
    display: none;
  }

  .menu-header-wrap {
    padding-top: 30px;
  }
}

#w-node-b6a7ab0e-34b4-7f7f-8d89-6cf89498a055-52bf9902 {
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-c6b13c85-b2eb-7c96-4764-71f747f95457-f45bd065 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_09131c91-fe78-3f83-bb85-916bd45144b3-bfc105b8, #w-node-_09131c91-fe78-3f83-bb85-916bd45144b3-53b3baaf, #w-node-_09131c91-fe78-3f83-bb85-916bd45144b3-1fea7376 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-_09131c91-fe78-3f83-bb85-916bd45144b3-21e2e3c1 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 479px) {
  #w-node-b6a7ab0e-34b4-7f7f-8d89-6cf89498a055-52bf9902, #w-node-_09131c91-fe78-3f83-bb85-916bd45144b3-bfc105b8, #w-node-_09131c91-fe78-3f83-bb85-916bd45144b3-53b3baaf, #w-node-_09131c91-fe78-3f83-bb85-916bd45144b3-1fea7376, #w-node-_09131c91-fe78-3f83-bb85-916bd45144b3-21e2e3c1 {
    display: none;
  }
}


